<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=abeezee:400|albert-sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|inter:400,500,600|roboto:100,500,700"
      rel="stylesheet"
    />

    <!-- CSS Implementing Plugins -->
    <!-- <link
      rel="stylesheet"
      href="/assets/vendor/bootstrap-icons/font/bootstrap-icons.css"
      type="text/css"
    /> -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="/assets/vendor/hs-mega-menu/hs-mega-menu.min.css"
      type="text/css"
    />

    <!-- CSS Unify Template -->
    <link rel="stylesheet" href="/assets/css/theme.min.css" type="text/css" />
  </head>
  <body>
    <!-- ========== HEADER ========== -->
    {% include "_partials/header.html" %}
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    {% include "_partials/main.html" %}
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- ========== FOOTER ========== -->
    {% include "_partials/footer.html" %}
    <!-- ========== END FOOTER ========== -->

    <!-- ========== SECONDARY CONTENTS ========== -->
    <!-- Go To -->
    <a
      class="js-go-to go-to position-fixed"
      href="javascript:;"
      style="visibility: hidden"
      data-hs-go-to-options='{ "offsetTop": 700, "position": { "init": { "right": "2rem" }, "show": { "bottom": "2rem" }, "hide": { "bottom": "-2rem" } } }'
    >
      <i class="bi-chevron-up"></i>
    </a>
    <!-- ========== END SECONDARY CONTENTS ========== -->
    {% include "_partials/scripts.html" %}
  </body>
</html>
