<!DOCTYPE html>
<html lang="en">
  {% block head %}{% endblock %}
  <body>
    
    {% include "_partials/header.html.njk" %}
    

    
    {% block main %}{% endblock %}
    

    
    {% include "_partials/footer.html.njk" %}
    

    
    <!-- Go To -->
    <a
      class="js-go-to go-to position-fixed"
      href="javascript:;"
      style="visibility: hidden"
      data-hs-go-to-options='{ "offsetTop": 700, "position": { "init": { "right": "2rem" }, "show": { "bottom": "2rem" }, "hide": { "bottom": "-2rem" } } }'
    >
      <i class="bi-chevron-up"></i>
    </a>
    
    {% include "_partials/scripts.html.njk" %}
  </body>
</html>
