<footer class="bg-dark">
  <div class="container">
    <div class="row align-items-center pt-4 pb-4">
      <div class="col-md text-center">
        <a target="_blank" class="btn btn-primary" href="https://www.linkedin.com/in/enigmatic-mahesh-pradhan/"><i class="bi-linkedin"></i>&nbsp;LinkedIn</a>
      </div>
    </div>
  </div>
</footer>
