<header
  id="header"
  class="navbar navbar-expand-lg navbar-end navbar-light navbar-absolute-top navbar-show-hide"
  data-hs-header-options='{ "fixMoment": 0, "fixEffect": "slide" }'
>
  <div class="container">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Default Logo -->
      <a class="navbar-brand" href="/" aria-label="Unify">
        <img
          class="navbar-brand-logo"
          src="/assets/svg/logos/logo.svg"
          alt="Image Description"
        />
      </a>
      <!-- End Default Logo -->

      <!-- Toggler -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-absolute-top-scroller">
          <ul class="navbar-nav nav-pills">
            <!-- Pages -->
            <li class="hs-has-mega-menu nav-item me-lg-auto">
              <a
                id="pagesMegaMenu"
                class="hs-mega-menu-invoker nav-link dropdown-toggle"
                href="#"
                role="button"
                aria-expanded="false"
                >Pages</a
              >

              <!-- Mega Menu -->
              <div
                class="hs-mega-menu hs-position-right dropdown-menu w-100"
                aria-labelledby="pagesMegaMenu"
                style="min-width: 42rem"
              >
                <!-- Main Content -->
                <div class="navbar-dropdown-menu-inner">
                  <div class="row">
                    <div class="col-sm-6 col-lg-3">
                      <span class="dropdown-header">Company</span>
                      <a class="dropdown-item" href="/page-about.html">About</a>
                      <a
                        class="dropdown-item"
                        href="/page-customer-stories.html"
                        >Customer Stories</a
                      >
                      <a class="dropdown-item" href="/page-customer-story.html"
                        >Customer Story</a
                      >
                      <a class="dropdown-item" href="/page-help-center.html"
                        >Help Center</a
                      >
                      <a
                        class="dropdown-item"
                        href="/page-help-center-categories.html"
                        >Help Center: Categories</a
                      >
                      <a
                        class="dropdown-item"
                        href="/page-help-center-article.html"
                        >Help Center: Article</a
                      >
                    </div>

                    <div class="col-sm-6 col-lg-3 mt-n5 mt-sm-0 mb-3 mb-lg-0">
                      <span class="dropdown-header invisible">Company</span>
                      <a class="dropdown-item" href="/page-careers.html"
                        >Careers</a
                      >
                      <a
                        class="dropdown-item"
                        href="/page-careers-role-overview.html"
                        >Careers: Role Overview</a
                      >
                      <a class="dropdown-item" href="/page-careers-apply.html"
                        >Careers: Apply</a
                      >
                      <a class="dropdown-item" href="/page-hire-us.html"
                        >Hire Us</a
                      >
                      <a class="dropdown-item" href="/page-login.html"
                        >Log In</a
                      >
                      <a class="dropdown-item" href="/page-signup.html"
                        >Sign Up</a
                      >
                      <a class="dropdown-item" href="/page-reset-password.html"
                        >Forgot Password</a
                      >
                    </div>

                    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0">
                      <span class="dropdown-header">Portfolio</span>
                      <a class="dropdown-item" href="/portfolio-modern.html"
                        >Modern</a
                      >
                      <a class="dropdown-item" href="/portfolio-case-study.html"
                        >Case Study</a
                      >
                    </div>

                    <div class="col-sm-6 col-lg-3">
                      <span class="dropdown-header">Specialty pages</span>
                      <a class="dropdown-item" href="/page-pricing.html"
                        >Pricing</a
                      >
                      <a class="dropdown-item" href="/page-contacts.html"
                        >Contacts</a
                      >
                      <a class="dropdown-item" href="/page-coming-soon.html"
                        >Coming Soon</a
                      >
                      <a
                        class="dropdown-item"
                        href="/page-coming-soon-simple.html"
                        >Coming Soon: Simple</a
                      >
                      <a class="dropdown-item" href="/page-error-404.html"
                        >Error 404</a
                      >
                      <a class="dropdown-item" href="/page-terms.html"
                        >Terms &amp; Conditions</a
                      >
                      <a class="dropdown-item" href="/page-privacy.html"
                        >Privacy &amp; Policy</a
                      >
                    </div>
                  </div>
                  <!-- End Row -->
                </div>
                <!-- End Main Content -->
              </div>
              <!-- End Mega Menu -->
            </li>
            <!-- End Pages -->
          </ul>
        </div>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>
